# This file is a minimal version of the default config file.
# This is NOT supposed to be enough for a fully running server.
# Please read the fivem documentation:
#   https://docs.fivem.net/docs/server-manual/server-commands/
#   https://docs.fivem.net/docs/server-manual/setting-up-a-server/

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=localhost;database=fivem;userid=root;"

sv_maxclients 48
set steam_webApiKey "none"
sets tags "default, deployer"

## You MAY edit the following:
sv_licenseKey "ef5v5w5cwzv75uynkue8bsbx1dq5um8c"
sv_hostname "Piper RP"
sets sv_projectName "Piper RP"
sets sv_projectDesc "Recipe for the base resources required to run a minimal FiveM server."
sets locale "root-AQ" 

## These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure yarn

# Database resources
ensure mysql-async
ensure mysql-insert

# UI
ensure example-loadscreen
# ensure menu
ensure NativeUI
ensure native-menu
ensure speedometer
ensure react-fivem

# Player positioning
ensure spawn-player

# Weapons
ensure WeaponSpawner

# Client operations
ensure VehicleManager
ensure rules

# Vehicles
ensure aston-martin-addon
ensure mercedes-benz-c63-amg
ensure mustang-shelby-2020

# Camera
ensure freecam

# Dev Operations
ensure get-player-coords

## Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.fivem:2249283 group.admin #Adam_Piper
